@import '../../common/colors.scss';

.movie-list{
  margin: 1.25rem 0;

  h2 {
    color: $secondary-font;
    margin-bottom: 0.625rem;
    font-weight: 400;
  }
  .movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13.75rem, 1fr));
    gap: 1rem;
  }
}