@import '../../common/colors.scss';

.footer {
  background: $secondary-clr;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary-font;
  flex-direction: column;
}
